/* Ajustes generales */
* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

/* Header */
.titulo {
    font-size: 3em;
    text-align: center;
    margin: 30px 0;
}

/* Cronómetro */
.cronometro-caja {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.circle {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    border: 2px solid black;
    color: black;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stopwatch {
    font-size: 2rem;
}

.buttons {
    margin-top: 10px;
    display: inline-flex;
}

.paused {
    margin: 10px;
    height: 30px;
    border-width: 15px 0 15px 22px;
    cursor: pointer;
    box-sizing: border-box;
    border-color: transparent transparent transparent black;
    transition: 100ms all ease;
    will-change: border-width;
    border-style: solid;
}

.running {
    border-style: double;
    border-width: 0 0 0 17px;
}

.stop {
    margin: 10px;
    cursor: pointer;
}

.boton-sumar {
    padding: 10px 20px;
}

/* Proyectos */
.agregar {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

/* Tabla de proyectos */
.tablaProyectos {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin: 0 100px;
    padding: 20px;
}

.columna {
    text-align: center;
    padding: 0 50px;
}

.columna h4 {
    font-size: 1.2em;
    padding: 15px;
    border: 1px solid black;
}

/* Cálculo de salario */
.calcSalario {
    margin: 30px;
}